<h1>Welcome to SCV</h1>
  <div id="map_div">
    <%= render partial: "map_chart" %>
  </div>
  <div>
    <%= render partial: "exception_categories" %>
  </div>
  <div>
    <%= render partial: "exception_categories_by_loc" %>
  </div>
