<table class="table table-striped" id="global_table">
	<tr><th width="25%"></th><th width="25%">Source</th><th width="25%">Move</th><th width="25%"> Total </th></tr>
	<tr><td width="25%">Quantity</td>
	<% @initial_data[:global][:series][:quantity][:data].each do |data_elem| %>
	<td width="25%"><%= number_with_delimiter data_elem %></td>
	<% end %>
	<td width="25%"><%= number_with_delimiter(@initial_data[:global][:series][:quantity][:data].first + @initial_data[:global][:series][:quantity][:data].last )%></td>
	</tr>
	<tr><td width="25%">Cost</td>
	<% @initial_data[:global][:series][:cost][:data].each do |data_elem| %>
	<td width="25%"><%= number_to_currency data_elem %></td>
	<% end %>
	<td width="25%"><%= number_with_delimiter(@initial_data[:global][:series][:cost][:data].first + @initial_data[:global][:series][:cost][:data].last )%></td> 
	</tr>
</table>
	
 