<h1>Location Group / Product Category Summary</h1>

  <p>Location Group: <%= @location_group.name %></p>
  <p>Product Category: <%= @product_category.name %></p>
  

  <%= render partial: 'product_location_matrix' %>

